{% extends "home/base.html" %}
{% block content%}
    <div class="about-container">
        <h1 class="title">About</h1>
        <p class="text">TrAIce is a simple web app for detecting hand drawn characters and scripts.
            I wanted to utilize something like the MNIST dataset to create an app to decipher written digits, 
            however that is rather stale and unoriginal. So instead, I opted to create an app in which an algorithm
            is trained on samples that is collected from the app itself. This way, it has the possibility to detecting
            more than digits, such as letters, characters, and even words. The only limit to that is my
            ability to implement and design more complex algorithms.
            </p>
    </div>
{% endblock content%}