{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="user-input">
            <h3 class="title">User Input</h3>
            <canvas class="canvas"></canvas>
            <div class="button-wrapper">
                <button class="button" type="button" onclick="submit_sample()">Submit</button>
            </div>
            <form class="post-form">{% csrf_token %}</form>
        </div>
        <div class="description">
            <h3 class="title">Sample Information</h3>
        </div>
    </div>
{% endblock content %}