{% extends "home/base.html" %}
{% load static %}
{% block content %}
    {% if data.has_empty_field %}
        <div class="empty-field-error">
            <p class="notice">Error: The canvas and/or one or more fields were found to be empty.
                Please fill in the canvas and/or the missing fields then submit once again.
            </p>
        </div>
    {% if data.is_repeat %}
        <div class="repeat-notice">
            <p class="notice">Error: The canvas and/or one or more fields were found to be empty.
                Please fill in the canvas and/or the missing fields then submit once again.
            </p>
        </div>
    {% else%}
    <div class="success-notice">
        <p class="notice">Error: The canvas and/or one or more fields were found to be empty.
            Please fill in the canvas and/or the missing fields then submit once again.
        </p>
    </div>
    <div class="container">
        <div class="user-input">
            <h3 class="title">Subject Input</h3>
            <canvas class="canvas"></canvas>
            <div class="button-wrapper">
                <button class="button" type="button" onclick="submit_sample()">Submit</button>
                <button class="button" type="button" onclick="clear_canvas()">Clear</button>
            </div>
            <form class="post-form">{% csrf_token %}</form>
        </div>
        <div class="description">
            <h3 class="title">Fill Information</h3>
            <div class="input-wrapper">
                <label for="first_name" class="labels-input">First Name: </label>
                <input type="text" name="first_name" id="first_name" class="subject-input" value="{{data.first_name}}">
            </div>
            <div class="input-wrapper">
                <label for="last_name" class="labels-input">Last Name: </label>
                <input type="text" name="last_name" id="last_name" class="subject-input" value="{{data.last_name}}">
            </div>
            <div class="input-wrapper">
                <label for="email" class="labels-input">Email: </label>
                <input type="text" name="email" id="email" class="subject-input" value="{{data.email}}">
            </div>
            <div class="input-wrapper">
                <label for="digit" class="labels-input">Digit: </label>
                <select name="digit" id="digit" class="subject-input">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <script>
                    var digit = {{data.digit}};
                    var sel = document.getElementById("digit");
                    sel.selectedIndex = digit;
                </script>
            </div>
            
        </div>
    </div>
{% endblock content %}