{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="detector-output">
            <h3 class="title">Sample</h3>
            <div class="image-wrapper">
                <img class="sample-image" src="{{rand.img_path}}" alt="as">
            </div>
            <div class="button-wrapper">
                <a href="{% url 'detector' %}"><button class="button" type="button">Back</button></a>
            </div>
        </div>
        <div class="description">
            <h3 class="title">Summary</h3>
        </div>
    </div>
{% endblock content %}