body {
    background-image: url('/static/home/background.png')
}
:root{
    --main-bg-color: rgb(0, 235, 255);
    --sec-bg-color: rgb(25, 120, 180);
}
.header{
    background: transparent;
    min-width: 950px;
    width: 100%;
    height: 100px;
}
nav{
    display: flex;
    width: fit-content;
    margin: auto;
}
nav ul{
    background-color: transparent;
    vertical-align: middle;
    margin: auto;
}
nav ul li{
    list-style: none;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-color);
    border-radius: 20px;
    margin: auto 5px;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    width: 100px;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    color: var(--main-bg-color);
    font-size: 24px;
    border-radius: 20px;
    vertical-align: bottom;
}
nav ul li a:hover{
    transition-duration: 0.4s;
    background-color: var(--sec-bg-color);
}
.container{
    margin: 0 auto;
    margin-top: 50px;
    background: transparent;
    max-width: 1000px;
    min-width: 900px;
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    height: fit-content;
    min-height: 500px;
    height: 75%;
}       
.user-input{
    width: 50%;
    height: fit-content;
    float: left;
}
.detector-output{
    width: 50%;
    float: left;
}
.description{
    float: right;
    width: 50%;
}
.title{
    font-family: 'Gayathri', sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--main-bg-color);
}
.canvas{
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    background: var(--sec-bg-color);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    text-decoration: none;
    background-color: var(--sec-bg-color);
    text-align: center;
    font-size: 16px;
    color: var(--main-bg-color);
    padding: 20px 25px;
    width: 150px;
    text-decoration: none;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    display: inline-block;
    margin: 0 5px;
}
.button:hover{
    transition-duration: 0.4s;
    background-color: rgb(20, 100, 150);
}
.image-wrapper{
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    height: fit-content;
    width: fit-content;
}
.sample-image{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.input-wrapper{
    display: flex;
    height: fit-content;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Gayathri', sans-serif;
}
.subject-input{
    margin: 20px;
    width: 150px;
    display: inline-block;
    color: var(--main-bg-color);
    border: 2px solid var(--main-bg-color);
    background: var(--sec-bg-color);
    padding: 5px;
    border-radius: 10px;
}
.labels-input{
    color: var(--main-bg-color);
    width: 100px;
    display: inline-block;
    padding: 10px 5px;
}
.notice{
    color: #ffffff;
    font-family: 'Gayathri', sans-serif;
    padding: 10px 15px;
}
.error{
    background: #ff0000;
    height: fit-content;
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    margin: 0 auto;
}
.replace-notice{
    background: #d9d777;
    height: fit-content;
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    margin: 0 auto;
}
.success-notice{
    background: #77d986;
    height: fit-content;
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    margin: 0 auto;
}
.icon-wrapper{
    display: inline-block;
    border-radius: 20px;
}
.icon-wrapper:hover{
    background: var(--sec-bg-color);
}
.icon{
    width: 250px;
    height: 83px;
}
.home{
    width: 50%;
    height: 100%;
    min-width: 1000px;
    margin: 25px auto;
}
.overview{
    display: flex;
    align-items: center;
}
.home-banner{
    border: 2px solid var(--main-bg-color);
    width: 60%;
    height: 300px;
    display: inline-block;
    margin: 0 25px;
    background: var(--sec-bg-color);
    border-radius: 20px;
}
.home-banner-image{
    height: 175px;
    width: 525px;
    display: block;
    margin: 50px auto;
}
.updates-section{
    display: inline-block;
    position: relative;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    width: 30%;
    margin: 0 25px;
}
.updates{
    background-color: transparent;
}
.updates li{
    list-style: circle;
    font-family: 'Gayathri', sans-serif;
    font-size: 14pt;
    color: var(--main-bg-color);
    padding: 5px 15px;
}
.about-text{
    color: var(--main-bg-color);
    font-family: 'Gayathri', sans-serif;
    padding: 0 50px;
    font-size: 16pt;
    text-align: center;
}
.about-container{
    margin: 0 auto;
    margin-top: 50px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid var(--main-bg-color);
    height: fit-content;
    width: 40%;
}