body {
    background: #00d0f0;
}
.header{
    background: transparent;
    width: 100%;
    height: 100px;
}
nav{
    float: right;
}
nav ul{
    background-color: transparent;
}
nav ul li{
    list-style: none;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 20px;
    margin: 0px 5px;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.container{
    margin: 0 auto;
    margin-top: 50px;
    background: #ffffff;
    max-width: 1000px;
    min-width: 900px;
    border-radius: 20px;
    height: fit-content;
    min-height: 500px;
    height: 75%;
}       
.user-input{
    width: 50%;
    height: fit-content;
    float: left;
}
.detector-output{
    width: 50%;
    float: left;
}
.description{
    float: right;
    width: 50%;
}
.title{
    font-family: 'Gayathri', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #00d0f0;
}
.canvas{
    border-radius: 20px;
    border: 2px solid #00d0f0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    text-decoration: none;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    color: #00d0f0;
    padding: 20px 25px;
    width: 150px;
    text-decoration: none;
    border: 2px solid #00d0f0;
    border-radius: 20px;
    display: inline-block;
    margin: 0 5px;
}
.image-wrapper{
    border-radius: 20px;
    border: 2px solid #00d0f0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    height: fit-content;
    width: fit-content;
}
.sample-image{
    width: 300px;
    height: 300px;
}
.input-wrapper{
    display: flex;
    height: fit-content;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Gayathri', sans-serif;
}
.subject-input{
    margin: 20px;
    width: 150px;
    display: inline-block;
    color: #00d0f0;
    border: 2px solid #00d0f0;
    padding: 5px;
    border-radius: 10px;
}
.labels-input{
    color: #00d0f0;
    width: 100px;
    display: inline-block;
    padding: 10px 5px;
}
.notice{
    color: #ffffff;
    font-family: 'Gayathri', sans-serif;
    padding: 10px;
}
.empty-field-error{
    background: #ff0000;
    height: fit-content;
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    margin: 0 auto;
}